/activation.jar
/bstres.jar
/classparser.jar
/commons-beanutils.jar
/commons-fileupload.jar
/commons-io.jar
/commons-logging.jar
/commons-pool.jar
/factory.jar
/jdom.jar
/JSON4J.jar
/log4j.jar
/logging.jar
/packman.jar
/portlet_adapter_ant.jar
/portlet_adapter_common.jar
/portlet_adapter286.jar
/saaj-api.jar
/wsdl4j.jar
/xercesImpl.jar
/xml-apis.jar
