#This file is used by the ReferenceWigdet to populate the Java indirect reference chooser,
#and to resolve the readable names to the actual Java expressions.  
ServletURL=webAppAccess.getRequestData().getServletURL()
ServerURL=webAppAccess.getRequestData().getServerURL()
StaticContentURL=webAppAccess.getURLMapper().getStaticContentURL("","http")
Request=webAppAccess.getRequestData()
RequestInputs=webAppAccess.getRequestInputs().toString()
WEB-INF=com.bowstreet.BSConfig.getHomedir()
HTMLRoot=com.bowstreet.BSConfig.getHtmlRootDir()
UserID=webAppAccess.getUserInfo().getUserID()
HttpServlet/HttpServletRequest=webAppAccess.getHttpServletRequest()
HttpServlet/HttpServletResponse=webAppAccess.getHttpServletResponse()